<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Mordilion Pipeline Suite">
      <directory suffix="Test.php">tests/Mordilion/Pipeline/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/Mordilion/Pipeline/</directory>
    </include>
  </source>
</phpunit>
